<button ng-click='reload()'>reload </button>

<div id="global-header" class="jumbotron jumbotron-fluid">
    <div class= "container">
        <div class="block">
            <div class="row">
                <div class="col-md-12">
                   <h1>Drop Us a Note</h1>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">

    <div class="row">    
        <div class="col" ng-controller="ContactCtrl" >
          <section id="fog">
           <div class="block">
               <div ng-bind-html="p1 | markdown"></div>
           </div>
          </section>
           <div class="mapouter">
                <div class="gmap_canvas">
                    <iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=50.9589412%2C-113.9683045&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
           </div>a

       </div>

        <div class="col" ng-controller="ContactCtrl">
          <div class="block">
            <h2>Contact Us </h2>
      
                <form method="POST" action="https://formspree.io/mchen@uts-canada.com">
                  <div class="form-group">
                      <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                  </div>
                  <div class="form-group">
                     <input type="email" name="email" class="form-control" placeholder="Your email">
                  </div>  
                  <div class="form-group">
                     <textarea name="message" class="form-control" rows="6" placeholder="Your Message"></textarea>
                  </div>
                  <div class="form-group">
                     <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                </form>
            </div>
        </div>
     </div>
</div>

