<div id="global-header" class="jumbotron jumbotron-fluid">
        <div class= "container">
        <div class="block">
            <div class="row">
                <div class="col-md-12">
                  <h1>Health, Safety and Environment (HSE)</h1>
                </div>
            </div>
        </div>
        </div>

</div>

<div class="container">
      <div class="row">

      </div>
      <div class="row">

          <div class="col-md-5">

              <div class="hse-rig"> </div>
<!--
             <div style="width:270px;height:auto;margin:auto;background-color:#f8f9fa">
                <img src="./images/rig.png" style="margin-right:0px;margin-left:10px;background-color:#f8f9fa"></img>
             </div>
-->
             <!-- <i class="fa fa-tree" style="font-size:144px;color:#0c2f52"></i> -->
        </div>

          <div class="col-md-7" > 
            
<!--
             <div style="width:590px;height:auto;margin:auto;background-color:#0c2f52;border:20px solid #0c2f52;">
                <img src="https://utenergy.ca/images/hse.jpg" class="mybordercenter" ></img>
             </div>
              <div class="row">
                   <br>            
                   <br>            
                   <br>            
              </div>
-->

              <div ng-bind-html="p1 | markdown" ></div>
              <div class="hse-cert"> </div>
          </div>
      </div>
<!--
<svg width="450" height="200">
  <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%"
      style="stop-color:rgb(255,255,0);stop-opacity:1" />
      <stop offset="100%"
      style="stop-color:rgb(255,0,0);stop-opacity:1" />
    </linearGradient>
  </defs>
  <g  fill="red" stroke="green" stroke-width="5">
    <polygon points="100,10 40,198 190,78 10,78 160,198"
      style="fill:#0f2c52;stroke:#0f2c52;stroke-width:5;fill-rule:evenodd;" />
    <ellipse cx="310" cy="100" rx="85" ry="55" fill="url(#grad1)" />
    <text fill="#333333" font-size="45" font-family="Verdana"
        x="260" y="110">HSE</text>
  </g>
Sorry, your browser does not support inline SVG.
</svg>
   <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%"
      style="stop-color:rgb(255,255,0);stop-opacity:1" />
      <stop offset="100%"
      style="stop-color:rgb(255,0,0);stop-opacity:1" />
    </linearGradient>
  </defs>

  <ellipse cx="100" cy="70" rx="85" ry="55" fill="url(#grad1)" />
  <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="50" y="86">HSE</text>
             <svg viewBox="-10 -10 120 120" preserveAspectRatio="xMidYMid meet"> 
              <defs>
                <clipPath id="myClip">
                   <circle cx="40" cy="35" r="65" />
                </clipPath>
              </defs>
                <text cx="10" cy="10">
                  <textPath href="#heart" fill="#ca1f25">
                     HSE
                  </textPath>
               </text>
              <path id="heart" d="M10,30 A20,20,0,0,1,50,30 A20,20,0,0,1,90,30 Q90,60,50,90 Q10,60,10,30 Z" />
            
              <use clip-path="url(#myClip)" xlink:href="#heart" style="stroke:no; fill:#ca1f25;" />
          

            </svg>


<svg width="300" height="200">
  <polygon points="100,10 40,198 190,78 10,78 160,198"
  style="fill:lime;stroke:purple;stroke-width:5;fill-rule:evenodd;" />
Sorry, your browser does not support inline SVG.
</svg>
<svg height="130" width="500">
  <defs>
    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop offset="0%"
      style="stop-color:rgb(255,255,0);stop-opacity:1" />
      <stop offset="100%"
      style="stop-color:rgb(255,0,0);stop-opacity:1" />
    </linearGradient>
  </defs>
  <ellipse cx="100" cy="70" rx="85" ry="55" fill="url(#grad1)" />
  <text fill="#ffffff" font-size="45" font-family="Verdana"
  x="50" y="86">HSE</text>
Sorry, your browser does not support inline SVG.
</svg>
-->
</div>
