<div class="jumbotron jumbotron-fluid">
        <div class= "container">
        <div class="block">
          <h1 class="animated fadeInUp">{{titleIntro}}</h1>
          <p class="animated fadeInUp">{{titleDesc}}</p>
        </div>
        </div>
</div>


<section id="intro">

    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12"> 
                <div class="block" ng-bind-html="p1 | markdown" >

                </div>
            </div>
            <div class="col-md-5 col-sm-12"> 
                <div class="about"></div>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-hide="ie == 0">
    <div class="block">
        <p>Browser: IE {{ie}}</p>
    </div>
</div>

