<div class="jumbotron jumbotron-fluid">
        <div class= "container">
        <div class="block">
          <h1 class="animated fadeInUp">{{titleIntro}}</h1>
          <p class="animated fadeInUp">{{titleDesc}}</p>
        </div>
        </div>
</div>


<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12"> 
        <div class="block">
          <div ng-bind-html="p1 | markdown"> </div>

        </div>
      </div>

      <div class="col-lg-5 col-md-12" > 
          <img src="https://www.uts-canada.com/images/ute.png" class="myborder" ></img>
      </div>
    </div>
  </div>
</section>

<section id="my-feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-6">
      <div class="block">
      <h2>Reliable MWD & NearBit tools</h2>
      <ul class="icon">
        <li class="right">ROT-Pulser. Less Power Consumption, works up to 175 &deg;C and 20000 psi.</li>
        <li class="right">MWD-EM. QPSK Decoding, transmitting rate up to 12bps.</li>
        <li class="right">NearBit. EM short hop, max transmitting distance up to 100 meters. </li>
        <li class="right">Dual Telemetry. Use EM-MWD at upper section, when EM signal is too weak, switch to Pulse MWD by EM downlink to improve drilling efficiency. </li>
      </ul>
      <br>
      <a href="#!/products" class="btn btn-view-works">View Products</a>
      </div>
    </div>
  </div>
</div>
</section>

<section id="my-call-to-action" ng-show="useContact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We believe Great Ideas</h2>
          <p>Read more about what we do and our philosophy of design and manufacture. Judge for yourself the work and results we've achieved for the clients.</p>
          <a class="btn btn-default btn-call-to-action" href="#!/contact/">Drop Us a Note </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimonial">
  <div class="container">
    <div class="row">
    <div class="col-md-12">

      <div  style="width=100%">
        <h2 style="color: #111;font-family:'Open Sans',sans-serif; font-size: 30px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center; ">Number Facts About Us</h2>
      </div>
</div>
   </div>
    <div class="row">
      <div class="col-md-12">
      <div class="block">
          
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="ion-ios-baseball-outline"></i>
                <h4 class="counter">2013</h4>
                <span>Year Found</span>
              </div>
            </li>
            
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="ion-ios-compose-outline"></i>
                <h4 class="counter">355</h4>
                <span>Tools Sets Built</span>
              </div>
            </li>
            
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="ion-ios-timer-outline"></i>
                <h4 class="counter">26635</h4>
                <span>Downhole Hours</span>
              </div>
            </li>
          </ul> </ul> </ul>
      </div>
    </div>
  </div>
</section>

<div class="container" ng-hide="ie == 0">
    <div class="block">
        <p>Browser: IE {{ie}}</p>
    </div>
</div>

